$Primary = #409EFF
$Success = #67C23A
$Warning = #E6A23C
$Danger = #F56C6C
$Info = #909399

$PrimaryHover = #ecf5ff
$SuccessHover = #f0f9eb
$WarningHover = #fdf6ec
$DangerHover = #fdf6ec
$InfoHover = #fef0f0

$PrimaryText = #303133
$RegularText = #606266
$SecondaryText = #909399
$Placeholder = #C0C4CC

$BorderBase = #DCDFE6
$BorderLight = #E4E7ED
$BorderLighter = #EBEEF5
$BorderExtralight = #F2F6FC

$tabBackColor = #F5F7FA
$tabBoxShadow = 0 2px 12px 0 rgba(0, 0, 0, 0.1)
$tabBoxShadowMin = 0 2px 4px 0 rgba(0, 0, 0, 0.1)