<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moxi.mogublog.xo.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.moxi.mogublog.commons.entity.Comment">
        <id column="uid" property="uid"/>
        <result column="useruid" property="useruid"/>
        <result column="touid" property="touid"/>
        <result column="touseruid" property="touseruid"/>
        <result column="username" property="username"/>
        <result column="content" property="content"/>
        <result column="bloguid" property="bloguid"/>
        <result column="status" property="status"/>
        <result column="createtime" property="createtime"/>
        <result column="updatetime" property="updatetime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, useruid, touid, touseruid, username, content, bloguid, status, createtime, updatetime
    </sql>

</mapper>
