<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moxi.mogublog.xo.mapper.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.moxi.mogublog.commons.entity.SysLog">
        <id column="uid" property="uid"/>
        <result column="userName" property="userName"/>
        <result column="ip" property="ip"/>
        <result column="url" property="url"/>
        <result column="type" property="type"/>
        <result column="classPath" property="classPath"/>
        <result column="method" property="method"/>
        <result column="params" property="params"/>
        <result column="operation" property="operation"/>
        <result column="logDate" property="logDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, userName, ip, url, type, calssPath, method, params, operation, logDate
    </sql>

</mapper>