@media screen and (max-width 980px) 
  //  顶部导航栏
  .headerWrapper 
    .headerItem 
      padding 0 10px !important
    .userDisplay
      width 110px !important
    .el-menu-demo 
      .userDisplay 
        .username-header 
          display none !important
  //  底部
  .footer-wrapper 
    .footer-top  
      .info 
        .logo 
          height 80px !important
        .link-wrapper 
          padding 6px 6px 6px 12px !important
          line-height 30px !important