<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moxi.mogublog.picture.mapper.FileSortMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.moxi.mogublog.commons.entity.FileSort">
        <id column="uid" property="uid"/>
        <result column="create_time" property="createTime"/>
        <result column="status" property="status"/>
        <result column="update_time" property="updateTime"/>
        <result column="project_name" property="projectName"/>
        <result column="sort_name" property="sortName"/>
        <result column="url" property="url"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid
        , create_time, status, update_time, project_name, sort_name, url
    </sql>

</mapper>
